<md-card-content class="md-padding" style="text-align: justify">
    <form name="projectForm" ng-submit="vm.salvar();">

        <!--
        <md-input-container class="md-block">
            <label>Texto quem somos</label>
            <textarea ng-model="vm.textoQuemSomos" md-maxlength="1000" rows="5" md-select-on-load></textarea>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Missão</label>
            <textarea ng-model="vm.textoMissao" md-maxlength="1000" rows="5" md-select-on-load></textarea>
        </md-input-container>


        <md-input-container class="md-block">
            <label>Visão</label>
            <textarea ng-model="vm.textoVisao" md-maxlength="1000" rows="5" md-select-on-load></textarea>
        </md-input-container>
-->
        <!--
        <label>Valores</label>
        <md-input-container class="md-block" ng-repeat="valor in vm.valores track by $index">           
            <input type="text" placeholder="Adiocione um novo valor" ng-model="valor.texto" ng-click="vm.adicionarValor($index);"/>
        </md-input-container>
-->

        <md-card class="md-padding" id="premios">
            <h2>
                <a>Serviços Contábeis</a>
                <md-button class="md-primary md-raised" ng-click="vm.adicionarNovaCategoria($event);">Adicionar nova
                    categoria</md-button>
            </h2>
            <md-divider></md-divider>

            <md-card-content class="md-padding">
                <md-card ng-repeat="servico in vm.servicosPrestados  track by $index" style="float: left; position: relative; max-width: 350px; min-height: 450px !important;">
                    <div class="card-header">
                        <div layout="row">
                            <div layout="column" flex="60" layout-align="center center">
                                <span class="card-header-title">{{servico.categoria}}</span>
                            </div>
                            <div layout="column" flex="20" layout-align="start center">
                                <md-button ng-click="vm.editarCategoria($event, servico, $index)">
                                    <md-icon md-font-icon="fa fa-edit" class="white"></md-icon>
                                </md-button>
                            </div>
                            <div layout="column" flex="20" layout-align="start center">
                                <md-button ng-click="vm.excluirCategoria($event, $index)">
                                    <md-icon md-font-icon="fa fa-trash" class="white"></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    </div>
                    <md-card-content>
                        <li ng-repeat="serv in servico.servicos">{{serv.nome}}</li>
                    </md-card-content>
                </md-card>

            </md-card-content>

        </md-card>
        <div>
            <md-button type="submit">Salvar</md-button>
        </div>
    </form>
</md-card-content>